<% cfg.keys.sort.each do |domain| -%>
# nginx config for: <%= domain %>
server {
  listen   80;
  <% if cfg[domain]['ipv6ip']  %>listen [<%= cfg[domain]['ipv6ip'] %>]:80 ipv6only=on; <% end %>
  server_name  <%= domain %> <%= cfg[domain]['subdomains'] %>;
  access_log  <%= cfg[domain]['webpath'] %><%= domain %>/statistics/logs/access.log;
  location / {
    root   <%= cfg[domain]['webpath'] %><% domain %>/httpdocs;
    index  index.html index.htm index.php;
  }
  error_page  404  /404.html;
  # redirect server error pages to the static page /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /var/www/nginx-default;
  }
  <% if cfg[domain]['php'] == '1' %>
  location ~ .php$ {
    root         <%= cfg[domain]['webpath'] %><%= domain %>/httpdocs;
    fastcgi_pass   127.0.0.1:<%= cfg[domain]['phpport'] %>;
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME  <%= cfg[domain]['webpath'] %><%= domain %>/httpdocs$fastcgi_script_name;
    include        fastcgi_params;
  }
  <% end %>
}

<% end -%>

