<% if cfg[title]['active'] == '1' %>
# nginx config for: <%= title %>
server {
  listen 80;
  <% if cfg[title]['ipv6ip']  %>listen [<%= cfg[title]['ipv6ip'] %>]:80 ipv6only=on; <% end %>
  server_name  <%= title %> <%= cfg[title]['subdomains'] %>;
  access_log  <%= cfg[title]['webpath'] %><%= title %>/statistics/logs/access.log;
  location / {
    root   <%= cfg[title]['webpath'] %><% title %>/httpdocs;
    index  index.html index.htm index.php;
  }
  error_page  404  /404.html;
  # redirect server error pages to the static page /50x.html
  error_page   500 502 503 504  /50x.html;
  location = /50x.html {
    root   /var/www/nginx-default;
  }
  <% if cfg[title]['php'] == '1' %>
  location ~ .php$ {
    root         <%= cfg[title]['webpath'] %><%= title %>/httpdocs;
    fastcgi_pass   127.0.0.1:<%= cfg[title]['phpport'] %>;
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME  <%= cfg[title]['webpath'] %><%= title %>/httpdocs$fastcgi_script_name;
    include        fastcgi_params;
  }
  <% end %>
}
<% end %>
